<% @works.each do |work| %>
  <div><%= work.number %></div>
  <div><%= work.title %>(<%= work.title_read %>)</div>
  <div><%= work.subtitle %></div>
  <div><%= work.distributed_at %></div>
  <div><%= work.url %></div>
  <hr/>
<% end %>
